# Build directories
build/
build-*/
out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/

# IDE
.vs/
.vscode/
*.user

# Compiled artifacts
*.obj
*.o
*.exe
*.pdb
*.ilk
